<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlinks}}
</head>
<body>
   {{>navbar}}
       <!-- main-header -->
       <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                   <!--left side div--> 
                   <div class="col-md-6 col-12 main_header_right align-items-center">
                   <figure>
                    <img src="images/about.jpg" style="box-shadow: 0 8px 6px -6px #000;" alt="prashant" class="img-fluid" title="Prashant">
                </figure>
                   </div>
                    <div class="col-md-6 col-12 main_header_left">
                      <p>welcome to weather app</p>
                      <h3> I Am <span class="text_clr"> Beginner</span> to NodeJs.</h3>
                      <h4 style="font-size:2rem;">Useful links:</h4>
                      <a href=" https://openweathermap.org/api" target="_blank"style="font-size:1.6rem;"> API documentation</a>
                      <a href="https://www.linkedin.com/in/prashant-kumar-160bba132/" target="_blank"><button>About me</button></a>
                    </div>
                    <!-- right side div -->
                    </div>

                </div>
            </div>
        </div>
       </div>
       {{>footer}}
   </body>
</html>